<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FourN.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<true/>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>8D6CD40882194BEDC5738965BA9A047CB6A5D0EE</string>
				<key>dateExpires</key>
				<string>6/18/22</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8D6CD40882194BEDC5738965BA9A047CB6A5D0EE</string>
						<key>dateExpires</key>
						<string>6/18/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AYPaging.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PZ2HA87B47</string>
						<key>name</key>
						<string>Abdelrahman Abdallah</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8D6CD40882194BEDC5738965BA9A047CB6A5D0EE</string>
						<key>dateExpires</key>
						<string>6/18/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PZ2HA87B47</string>
						<key>name</key>
						<string>Abdelrahman Abdallah</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8D6CD40882194BEDC5738965BA9A047CB6A5D0EE</string>
						<key>dateExpires</key>
						<string>6/18/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CountryPicker.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PZ2HA87B47</string>
						<key>name</key>
						<string>Abdelrahman Abdallah</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8D6CD40882194BEDC5738965BA9A047CB6A5D0EE</string>
						<key>dateExpires</key>
						<string>6/18/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PZ2HA87B47</string>
						<key>name</key>
						<string>Abdelrahman Abdallah</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8D6CD40882194BEDC5738965BA9A047CB6A5D0EE</string>
						<key>dateExpires</key>
						<string>6/18/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseAuth.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PZ2HA87B47</string>
						<key>name</key>
						<string>Abdelrahman Abdallah</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8D6CD40882194BEDC5738965BA9A047CB6A5D0EE</string>
						<key>dateExpires</key>
						<string>6/18/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PZ2HA87B47</string>
						<key>name</key>
						<string>Abdelrahman Abdallah</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8D6CD40882194BEDC5738965BA9A047CB6A5D0EE</string>
						<key>dateExpires</key>
						<string>6/18/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreDiagnostics.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PZ2HA87B47</string>
						<key>name</key>
						<string>Abdelrahman Abdallah</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8D6CD40882194BEDC5738965BA9A047CB6A5D0EE</string>
						<key>dateExpires</key>
						<string>6/18/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PZ2HA87B47</string>
						<key>name</key>
						<string>Abdelrahman Abdallah</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8D6CD40882194BEDC5738965BA9A047CB6A5D0EE</string>
						<key>dateExpires</key>
						<string>6/18/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FlagPhoneNumber.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PZ2HA87B47</string>
						<key>name</key>
						<string>Abdelrahman Abdallah</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8D6CD40882194BEDC5738965BA9A047CB6A5D0EE</string>
						<key>dateExpires</key>
						<string>6/18/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PZ2HA87B47</string>
						<key>name</key>
						<string>Abdelrahman Abdallah</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8D6CD40882194BEDC5738965BA9A047CB6A5D0EE</string>
						<key>dateExpires</key>
						<string>6/18/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Gallery.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PZ2HA87B47</string>
						<key>name</key>
						<string>Abdelrahman Abdallah</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8D6CD40882194BEDC5738965BA9A047CB6A5D0EE</string>
						<key>dateExpires</key>
						<string>6/18/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PZ2HA87B47</string>
						<key>name</key>
						<string>Abdelrahman Abdallah</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8D6CD40882194BEDC5738965BA9A047CB6A5D0EE</string>
						<key>dateExpires</key>
						<string>6/18/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PZ2HA87B47</string>
						<key>name</key>
						<string>Abdelrahman Abdallah</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8D6CD40882194BEDC5738965BA9A047CB6A5D0EE</string>
						<key>dateExpires</key>
						<string>6/18/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PZ2HA87B47</string>
						<key>name</key>
						<string>Abdelrahman Abdallah</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8D6CD40882194BEDC5738965BA9A047CB6A5D0EE</string>
						<key>dateExpires</key>
						<string>6/18/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ImageSlideshow.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PZ2HA87B47</string>
						<key>name</key>
						<string>Abdelrahman Abdallah</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8D6CD40882194BEDC5738965BA9A047CB6A5D0EE</string>
						<key>dateExpires</key>
						<string>6/18/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Kingfisher.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PZ2HA87B47</string>
						<key>name</key>
						<string>Abdelrahman Abdallah</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8D6CD40882194BEDC5738965BA9A047CB6A5D0EE</string>
						<key>dateExpires</key>
						<string>6/18/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Lottie.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PZ2HA87B47</string>
						<key>name</key>
						<string>Abdelrahman Abdallah</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8D6CD40882194BEDC5738965BA9A047CB6A5D0EE</string>
						<key>dateExpires</key>
						<string>6/18/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MDFInternationalization.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PZ2HA87B47</string>
						<key>name</key>
						<string>Abdelrahman Abdallah</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8D6CD40882194BEDC5738965BA9A047CB6A5D0EE</string>
						<key>dateExpires</key>
						<string>6/18/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MDatePickerView.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PZ2HA87B47</string>
						<key>name</key>
						<string>Abdelrahman Abdallah</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8D6CD40882194BEDC5738965BA9A047CB6A5D0EE</string>
						<key>dateExpires</key>
						<string>6/18/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MOLH.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PZ2HA87B47</string>
						<key>name</key>
						<string>Abdelrahman Abdallah</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8D6CD40882194BEDC5738965BA9A047CB6A5D0EE</string>
						<key>dateExpires</key>
						<string>6/18/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MarqueeLabel.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PZ2HA87B47</string>
						<key>name</key>
						<string>Abdelrahman Abdallah</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8D6CD40882194BEDC5738965BA9A047CB6A5D0EE</string>
						<key>dateExpires</key>
						<string>6/18/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MaterialComponents.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PZ2HA87B47</string>
						<key>name</key>
						<string>Abdelrahman Abdallah</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8D6CD40882194BEDC5738965BA9A047CB6A5D0EE</string>
						<key>dateExpires</key>
						<string>6/18/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>NotificationBannerSwift.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PZ2HA87B47</string>
						<key>name</key>
						<string>Abdelrahman Abdallah</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8D6CD40882194BEDC5738965BA9A047CB6A5D0EE</string>
						<key>dateExpires</key>
						<string>6/18/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SnapKit.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PZ2HA87B47</string>
						<key>name</key>
						<string>Abdelrahman Abdallah</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8D6CD40882194BEDC5738965BA9A047CB6A5D0EE</string>
						<key>dateExpires</key>
						<string>6/18/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SplitSlider.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PZ2HA87B47</string>
						<key>name</key>
						<string>Abdelrahman Abdallah</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8D6CD40882194BEDC5738965BA9A047CB6A5D0EE</string>
						<key>dateExpires</key>
						<string>6/18/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PZ2HA87B47</string>
						<key>name</key>
						<string>Abdelrahman Abdallah</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8D6CD40882194BEDC5738965BA9A047CB6A5D0EE</string>
						<key>dateExpires</key>
						<string>6/18/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>UPCarouselFlowLayout.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PZ2HA87B47</string>
						<key>name</key>
						<string>Abdelrahman Abdallah</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8D6CD40882194BEDC5738965BA9A047CB6A5D0EE</string>
						<key>dateExpires</key>
						<string>6/18/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>iOSDropDown.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PZ2HA87B47</string>
						<key>name</key>
						<string>Abdelrahman Abdallah</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8D6CD40882194BEDC5738965BA9A047CB6A5D0EE</string>
						<key>dateExpires</key>
						<string>6/18/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PZ2HA87B47</string>
						<key>name</key>
						<string>Abdelrahman Abdallah</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>PZ2HA87B47.sharaf.FourN</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>PZ2HA87B47</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>PZ2HA87B47.sharaf.FourN</string>
				</array>
			</dict>
			<key>name</key>
			<string>FourN.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>ab2b240a-821c-4b56-b258-0de5468786c8</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: sharaf.FourN</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>PZ2HA87B47</string>
				<key>name</key>
				<string>Abdelrahman Abdallah</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
